body,html{
  height: 100%;
  width: 100%;
  margin:0 auto;
  padding:0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
input[type="text"]{
  border: 0;
  width: 100%;
  height: 100%;
  margin: 3% 1% 3% 1%;
  border-radius:1%;
  font-size: 200%;
  text-align: center;
}
.buttons-left-half{
  font-size: 550%;
  width: 33%;
}
.buttons-right-half{
  width: 49%;
  height: 100%;
  font-size: 550%;
}
.clear-button{
  font-size: 550%;
  height: 50%;
}
#top-ops,#mid-ops{
  height: 25%;
}
#main-content-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 75%;
  background: #998578;
  box-shadow: 0px 10px 10px #191919;
  border-radius: 1%;
}
#upper-content-container{
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
}
#lower-content-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
}
#numbers-container,#operations-container{
  display: flex;
  flex-direction: column;
  margin:3% 1% 3% 1%;
  width: 50%;
}

#row-zero{
  display: flex;
  flex-direction: row;
  order:3;
  width: 100%;
  height: 33%;
}
#row-one{
  display: flex;
  flex-direction: row;
  order:2;
  width: 100%;
  height: 33%;
}
#row-two{
  display: flex;
  flex-direction: row;
  order:1;
  width: 100%;
  height: 33%;
}
#row-three{
  display: flex;
  flex-direction: row;
  order:0;
  width: 100%;
  height: 33%;
}
